[2018-10-25 11:48] fullstackfool commented on #172
Yeah, so the events have been combined, which you can then use to instantiate a moment object.

Then we get a new error: `TypeError: context.cmdFormatter is not a function`

Now going to try using an event url, instead of the function

[2018-11-05 07:10] Jochii12 opened #173 "Vue Full Calendar Event Select"
Hello,
can i ask why my event select not trigger properly if there is 2 or more event in event

Thanks..
sample code
`
<template>
<full-calendar :config="config"
                       :event-sources="eventSources"
                       @event-created="createAppointment"
                       @event-selected="selectedAppointment"
                       ref="calendar"></full-calendar>

</template

[2018-11-05 09:18] BrockReece commented on #173
Hi @Jochii12

I am not sure I understand the question.
What does your config object look like?

[2018-11-05 09:28] Jochii12 commented on #173
![image](https://user-images.githubusercontent.com/35551627/47989462-0aba8880-e120-11e8-90a9-157328fa454b.png)

![image](https://user-images.githubusercontent.com/35551627/47989519-2d4ca180-e120-11e8-944c-c9af43632ed6.png)

here my console object.. it return fine but it not rendering in my vuex

[2018-11-05 09:30] Jochii12 commented on #173
when i click the time 06: 00 it returning..
but when i click 09: its all null and in the console was fine

Thank you sir

[2018-11-06 08:43] BrockReece commented on #173
I have tried to replicate this in a [code sandbox](https://codesandbox.io/s/88z24xkok2), but it seems to be emitting the `@event-selected` event for both of my calendar items, as I would expect.

[2018-11-06 08:47] Jochii12 commented on #173
i found sir.. one of the date is null so the vuex wont render the object date when is null. what i did is to use lodash and find the id on the array of object to fetch the select details.

`const data = _.find(this.appointSched, { id: calEvent.id })`
`var param = {
                    start: calEvent.start,
                    end: calEvent.end === null ? data.end : calEvent.end,

[2018-11-06 08:48] BrockReece commented on #173
Ok, glad you figured it out.

[2018-11-06 08:48] #173 closed

[2018-11-08 09:44] martin55 opened #174 "config"

[2018-11-08 09:44] #174 closed

[2018-11-14 10:41] Maadtin opened #175 "Fullcalendar browser usage"
Is there any way to use without module system?

[2018-11-15 04:27] hoangdo2603 opened #176 "Change date event"
How can i modify the change date event for fullcalendar in vuejs2

[2018-11-15 09:39] BrockReece commented on #176
You can use the [Config prop] (https://github.com/CroudTech/vue-fullcalendar#custom-config) to modify events

[2018-11-15 09:39] #176 closed

[2018-11-19 00:08] Maadtin commented on #55
is this implemented yet?

[2018-11-22 19:05] talha08 opened #177 "How to work with Next and Prev button?"
Here I found in the documentation about next is like,
`next() {
      this.$refs.calendar.fireMethod('next')
    },`

But how I work with it?
Can you give me a clear idea. I want to load data month by month in my application.

[2018-12-18 14:42] BenSampo commented on #169
I just spent a whole bunch of time tackling this same issue. It turns out that the refetchResources method doesn't do anything unless the resources config prop is set up as a function or feed.

See docs:
https://fullcalendar.io/docs/resources-json-feed
https://fullcalendar.io/docs/resources-function

The way I implemented this is by setting up the config object as a computed property, where the re

[2018-12-23 14:37] pcm0nk opened #178 "render-event and remove-event not working"
Hi
Brock , you literally saved my career with this component and i am very thankful for that.
now im having problem with render-event(event) & remove-event(event) :
`this.$refs.calendar.$emit('render-event',this.newarr);`
and my variable (newarr) is :
` newarr:[{title:'event111', start:'2018-02-02'}]`
Im not getting any error , altho the new event is not added, now im using .push([]) to workaround

[2018-12-23 18:08] BrockReece commented on #178
Hi @pcm0nk

Glad you find this wrapper useful.
Any chance you could reproduce this in a code-sandbox, and I will have a look at that?

It might be worth looking at the [fireMethod](https://github.com/CroudTech/vue-fullcalendar#methods). This can be usually used a 'get out of jail free' card, as it allows you to use the native fullcalendar.io methods.

[2018-12-24 05:14] pcm0nk commented on #178
@BrockReece  thanks for your reply
here is a [codesandbox ](https://codesandbox.io/s/z2mv1v9npx), on eventSelected method u can see the codes i tried and my workaround ( giving an additional key and using Vue.delete)

[2019-01-02 03:24] Apexal opened #179 "Dynamically changing editable and selectable properties"
Thanks for the project!

I use the wrapper on one page in the following way:
[code]

`editable` is a computed property on the component that the calendar is in. The calendar doesn't update the editable or selectable status when the property changes unless the entire calendar is destroyed and rerendered (changing tabs in my case). How can I get it to automatically update?

[2019-01-02 09:18] BrockReece commented on #179
Hey

You should be able to achieve this with a combination of [setting options dynamically](https://fullcalendar.io/docs/dynamic-options) and this wrapper's [fireMethod function](https://github.com/CroudTech/vue-fullcalendar#methods)

Off the top of my head, something like this should work.

[code]

[2019-01-02 18:27] Apexal commented on #179
Thanks! The `fireMethod` option works great!

[2019-01-02 18:27] #179 closed, assigned to nobody

[2019-01-03 16:26] slecorvaisier commented on #157
You can use this webpack plugin: https://webpack.js.org/plugins/context-replacement-plugin/#usage

In my setup (rails + webpacker), it looks like the following:

[code]

With this code, only the `nl` and `nl-be` locales are included in my bundle. Hope it can help someone.

[2019-01-14 12:22] plavet commented on #125
How could I emit click action from CalendarEvent to App.vue, from child to parent, in this case? I have a method on CalendarEvent with this.$emit('edit-current-event'), but where do I write @edit-current-event="someAction" on parent? App.vue in this case, I've forked your sandbox example and made some changes to ilustrate what i need to do, [sandbox](https://codesandbox.io/s/rwk45o3w2p)

[2019-01-23 16:21] tspesh opened #181 "How can you get the current date?"
Not really an issue, so sorry but not sure where else to ask this.

I have a data structure that contains events that go back 3+ years and into the future at least a year.  This means thousands of records.  It would be vastly more efficient to make an API call for the current month's data only.  But I do not see a way to capture and then send the current month/year to make that request.

[FullCale

[2019-01-23 17:16] BrockReece commented on #181
Hey, I would suggest looking at [this example](https://github.com/CroudTech/vue-fullcalendar#using-a-json-feed) in the readme.

It uses the fullcalendar's [events (as a function)](https://fullcalendar.io/docs/events-function) where you can access the current date range as the first two arguments of the callback.

Hope that helps

[2019-01-23 18:58] tspesh commented on #181
Thanks, so I saw that...but I'm not sure I understand it fully.

I need to pass the visible month back to my API.  How does this method do this? In my experimentation, i'm not able to pass any useful data to that events function.

[2019-01-23 19:05] tspesh commented on #181
AH CRAP!

I wasn't paying attention completely...

What I needed
[code]

vs

What I had
[code]

[2019-01-23 19:05] #181 closed, assigned to nobody

[2019-01-28 18:32] MrMitch commented on #109
I was having the same issue, as explained in https://github.com/fullcalendar/fullcalendar/issues/3911#issuecomment-458247701, I solved it by feeding the non-minified version of fullcalendar to webpack instead of the minified one.

[2019-01-28 18:32] MrMitch commented on #98
I was having the same issue, as explained in fullcalendar/fullcalendar#3911 (comment), I solved it by feeding the non-minified version of fullcalendar to webpack instead of the minified one.

[2019-01-31 16:49] jujogi opened #182 "When I Selecting an event not fired!"
What is the correct way to obtain the information about any event?

`<full-calendar :events="events" @event-selected="selectedEvent"/>`

[code]

And my package.json:
[code]

I can not display the event information when I click on it.
Thanks for help!

[2019-01-31 19:31] #182 closed, assigned to nobody

[2019-02-14 11:43] arifhussain353 opened #183 "Due to large events, rendering is very slow"
I have more than 500 events to render on load. It takes too much time. I have added some custom HTML for the event layout. Am I missing something or doing wrong anything?
[code]
[code]

[code]
![image](https://user-images.githubusercontent.com/12670763/52784561-582b8780-3077-11e9-95b8-024e00b213ee.png)

[2019-02-14 15:23] BrockReece commented on #183
Does it load ok just using vanilla fullcalendar (that this plugin wraps)?

[2019-02-15 06:03] arifhussain353 commented on #183
@BrockReece you mean if you use vanilla fullcalendar? . I don't think it could be any issue with it.

[2019-02-15 19:28] PhilMDev commented on #178
@pcm0nk not sure if this is still a problem but I wanted to show you what I did for event render.  The following is my config settings in my data object:

`config: {
        defaultView: 'agendaWeek',
        slotDuration: '00:15:00',
        allDaySlot: false,
        eventRender: function (event, element) {
          if (!event.title) {
            return false
          }
        }
      }
`

O

[2019-02-21 16:15] PhilMDev opened #184 "fullcalendar-scheduler event-selected problem"
When using fullcalendar the @event-selected="" works just fine.  However, when you're using fullcalendar-scheduler it appears to be ignored.  I didn't bother to search through the code but I never saw an error, etc.  If you add:

[code]
to the config section in data you can get a response.  So, it's obviously working internally in scheduler.   I wanted to execute a function in methods but kept get

[2019-02-21 16:22] PhilMDev commented on #98
This is caused by scheduler loading it's own version of fullcalendar.  The best solution that I've found is to edit the package.json for fullcalendar-scheduler and remove the dependency for fullcalendar.  You also have to delete the fullcalendar directory you'll find in node-modules for fullcalendar-scheduler.  Also, that's where the package.json file is located that needs to be edited.  Unfortuna

[2019-02-21 18:09] BrockReece commented on #184
Hi @PhilMDev thanks for your message.

Is this just a scoping issue on the `eventClick` listener you added to the config? If you were to use an [arrow function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions) does this fix this issue?
[code]

[2019-02-21 18:21] PhilMDev commented on #184
@BrockReece

You are absolutely right!!  I learn more every day.  I use fat arrows but I keep forgetting that one of the issues it solves is the "this" issue.  Thank you so much!

[2019-02-22 08:47] BrockReece commented on #184
Awesome

[2019-02-22 08:47] #184 closed, assigned to nobody

[2019-02-22 10:26] talha118 opened #185 "title in custom div"
Hi,

How can we show calendar title somewhere else other than calendar header?

Thanks

[2019-02-22 11:34] BrockReece commented on #185
Where would you like to put it?

[2019-02-26 16:07] AlejandraAAO opened #186 "Jquery dependency was not found"
I'm using quasar framework with vuejs, and it asks me to install jquery.
I get:
This dependency was not found:

* jquery in ./node_modules/fullcalendar/dist/fullcalendar.js, ./node_modules/babel-loader/lib?
? ref - 1-0! ./ node_modules / vue-loader / lib? vue-loader-options! ./ node_modules / vue-full-calendar / c
omponents / FullCalendar.vue? vue & type = script & lang = js &

what should I do?
I

[2019-02-26 16:40] BrockReece commented on #186
I haven't tried using this component with Quasar. But fullcalendar's usual behaviour is to import jquery if it is not already imported, however if it isn't doing this for Quasar, you may need to import it manually.

[2019-02-26 19:34] DiegoAyalaE commented on #186
Seems like fullcalendar moved jQuery as a devDependency, I just tried installing vue-fullcalendar with Vue and Vuetify and faced the same issue. Checking a project I created a couple of months ago, it does have jQuery as a dependency.

As a workaround you can try installing moment and jquery in case you don't have them installed.

[2019-02-27 08:52] BrockReece commented on #186
@DiegoAyalaE yeah, installing manually should work.

I think fullcalendar's long term plan is to move away from jQuery all together. Maybe this is the start of that.

[2019-02-27 14:49] Ramfat opened #187 "Loading event not triggered"
Hi.

I've tried setting a loading function through the config object but it seems it is not fired as i cannot even see a log in my console when loading new events.

Example code:

`
config: {
          loading: function ()
          {
            console.log('Loading!');
          },
          weekends: true,
          locale: 'sv',
          defaultView: 'listWeek',
          header: {

[2019-02-27 16:00] PhilMDev commented on #187
Are you loading events as a function? (https://fullcalendar.io/docs/events-function)  I believe that may be the only way your loading event will fire.

[2019-02-28 07:05] adlaws opened #188 "@event-mouseover and @event-mouseout not being emitted"
Howdy!

I've noticed that the `@event-mouseover` and `@event-mouseout` events don't seem to be firing - a simple demo of the problem is here:

https://codesandbox.io/s/v6m2vw6wr7

You can see that if you click on the single event on the calendar an alert will appear (as expected), but when mousing in and out of the event nothing happens (I would expect to get spammed with alerts).

The versions I'

[2019-02-28 08:41] BrockReece commented on #188
Hmm, yeah that is strange, I can't see the events firing in my Vue dev tools either.

Your workaround is what I would have suggested. I will look into this in the meantime.

[2019-03-03 09:46] adlaws commented on #188
No worries - thanks for taking the time to check into this!

[2019-03-05 10:12] DarranFan commented on #186
I also met the same problem. Could you tell me if you solved it?

[2019-03-05 18:40] Afondevi commented on #152
up

[2019-03-06 20:07] DiegoAyalaE commented on #186
You can just run `npm install jquery`

[2019-03-14 01:18] yingchen518 opened #189 "event render about timezone"
Hi,

I'm in Taiwan(+08:00). I set `events: [{ title  : 'event1', start  : '2019-03-13 08:00:00', end  : '2019-03-15 08:00:00', color: '#EB4D4D' }]`, but event render like the pic below.
![image](https://user-images.githubusercontent.com/25786199/54324408-9301ea80-4638-11e9-9243-460957d7469a.png)

I think it's a problem about timezone. I've tried pass 'timeZone' by using the config prop but it's no

[2019-03-14 08:17] BrockReece commented on #189
Can you format the start and end date to include timezone info?

[2019-03-14 08:47] yingchen518 commented on #189
Hi,

I tried
[code]
event2 and event4 can work! Thank you for your reply! :)

[2019-03-14 10:12] BrockReece commented on #189
No problem.

[2019-03-14 10:12] #189 closed, assigned to nobody

[2019-03-15 06:11] #183 closed, assigned to nobody

[2019-03-15 14:28] rafaelgfirmino commented on #152
This property worked for me
[code]

[2019-03-15 21:27] soaresdude commented on #34
I'm getting the same error. Already tried the solutions proposed here but without success.
Here's my code:
[code]

webpack:
[code]

[2019-03-15 22:12] BrockReece commented on #34
Your import statement is wrong. You are importing the Vue plugin rather than the component. Try the following import statement.

[code]

[2019-03-15 22:18] soaresdude commented on #34
Thanks, but now it's like this:
![image](https://user-images.githubusercontent.com/3741554/54464847-22052480-4757-11e9-85b2-037ec84a3411.png)

[2019-03-15 23:24] PhilMDev commented on #34
Your dates are in 2010. The calendar starts last Sunday March 10, 2019. Try
changing your test dates.

Also I'm not positive since I'm at my phone instead of my computer but I
think you need end dates also.

On Fri, Mar 15, 2019, 6:18 PM Yuri Araújo <notifications@github.com> wrote:

[2019-03-16 00:34] soaresdude commented on #34
@PhilMDev I've left only
[code]
and the problem persists.

[2019-03-16 00:36] soaresdude commented on #34
I had to import the `fullcalendar.min.css`. Now it seems fine, thanks for the help guys :)

[2019-03-17 10:34] ncbinh98 opened #190 "callback Select in VUE"
I have checked docs for fullcalendar.io, It has CallBack Select for jquery https://fullcalendar.io/docs/select-callback, but in VUE docs I dont see any Emitted event Select or date-select like that, https://github.com/CroudTech/vue-fullcalendar. How can I select multiple dates in vue? If I miss any docs, please help.

[2019-03-17 10:57] #190 closed, assigned to nobody

[2019-03-17 10:58] ncbinh98 commented on #190
event-created(event) - Triggered on select()
I firgout the name that trigger event

[2019-03-18 06:01] ijunaid8989 opened #191 "CSS is broken on first execution"

[2019-03-18 06:04] ijunaid8989 commented on #191
When I first show calendar its css is broken

![image](https://user-images.githubusercontent.com/13561999/54509951-40446d80-496d-11e9-88c8-5738f1f4d395.png)

`.fc-axis` width is coming as 1px.

![image](https://user-images.githubusercontent.com/13561999/54510021-8b5e8080-496d-11e9-8e56-fb376403c1b8.png)

When I drag an event it changes to 36 PX and everything is fine. I tried to change this width

[2019-03-18 06:53] ijunaid8989 commented on #191
@BrockReece can you please help?

[2019-03-18 19:19] soaresdude opened #192 "Using bootstrap 4 themes"
How can I use the bootstrap 4 themes? I could only find how to use the default theme, but in the fullcalendar page they talk about using more themes.

[2019-03-18 20:19] BrockReece commented on #192
According to the docs, it looks like you just need to include the bootstrap 4's css file somewhere in your project and add the following key to your calendar config.

[code]

[2019-03-18 20:20] soaresdude commented on #192
@BrockReece Yeah, that part worked just fine, but I couldn't use other themes from bootstrap like Cosmo, which is referenced in the fullcalendar page.

[2019-03-19 08:37] BrockReece commented on #192
I've never tried it before, but reading their [docs](https://bootswatch.com/help/), it sounds straight forward.

And here is a link to their CDN
https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css

I don't think there is any specific config that you need to change on the calendar, other than what I suggested above. I am guessing that the full-calendar bootstrap theme adds c

[2019-03-19 14:52] soaresdude commented on #192
@BrockReece the problem is that I don't use bootstrap in my project, only bulma. I thought that I could apply a bootstrap 4 theme only on the fullcalendar component without interfering with the rest of the project.
I've tried to do like this:

[code]
[code]
But I had the same problem, couldn't use the Cosmo theme inside the calendar.

[2019-03-19 15:41] BrockReece commented on #192
I don't think it works like that, I am pretty sure Fullcalendar applies classes to elements that your CSS will style to keep it consistent with the rest of your page.

Looking at your code above, I would suggest that using `document.createElement('script')` is incorrect, as this is a CSS file. Couldn't you just add a link tag to the head of your index.html?

Full disclosure BTW, I am not the autho

[2019-03-19 15:44] soaresdude commented on #192
@BrockReece have you found on the docs how to style them? I've tried the className for events and the header object to set the icons but it didn't worked.

Totally my mistake, sorry. I'll try to fix that.

Don't worry, I'm glad that you're helping me.

[2019-03-19 15:48] soaresdude commented on #192
It worked! I've added the import to my `style` script tag. It came out like this:

[code]
[code]
[code]

And now, the theme was applied to my calendar. Thanks a lot for the guidance @BrockReece 👍

[2019-03-19 15:50] #192 closed, assigned to nobody

[2019-03-24 01:31] identy commented on #172
// titleFormat: 'MMMM'

error in title format

[2019-03-26 11:54] ijunaid8989 opened #193 "Events remove issue."
I have added full calendar as

[code]

other methods are working fine. but eventSources is not working as its expected

this is data config

[code]

[code]

And I am trying to clear all events like this

[code]

But instead of clearing it, whenever I load calendar again, it duplicates the events in design. again and again.
I have also used `removeEvents`
Can anyone tell where I am wrong?

[2019-03-26 21:10] soaresdude opened #194 "Bootswatch override global css"
I have the following `style` tag:

[code]

Where the first import is including the Cosmo Bootswatch theme for the fullcalendar. My problem is that this CSS file is overriding my Bulma class, even though is inside `style scoped`.
Anyone knows how to restrict Bootswatch CSS scope to only the calendar?

PS.: Bootswatch is overriding a component that's outside the component I'm working on.

[2019-03-27 08:45] BrockReece commented on #194
Does the following work?

[code]

[2019-03-27 13:05] soaresdude commented on #194
@BrockReece Just tried and it didn't worked :(

[2019-03-27 14:13] BrockReece commented on #194
Sorry, didn't work in what way?

[2019-03-27 16:30] soaresdude commented on #194
@BrockReece No, neither of them worked the way you wrote here.

[2019-03-27 18:13] BrockReece commented on #194
I was trying to get a better idea of what didn't work with my suggestion so I can better help you.
Were the style sheets not included at all?
Were they included but still not scoped properly?

[2019-03-31 07:35] kossa opened #195 "Open popup on click"
Hello,

I'm using vue-fullcalendar, eveything looks good, I want once I click on event, I'll load with ajax a popup there is an example for that ?

Currently I can open a popup with event, but how to pass a variabl like an ID

Thanks

[2019-03-31 09:31] kossa commented on #195
I found the solution by using : @event-selected="method"

[2019-03-31 09:31] #195 closed, assigned to nobody

[2019-04-02 15:27] stedda commented on #131
I have encountered this issue, moving the eventSources into config worked too... But i do have another issue. If i load the events on the page, and change the page to something else, and go back on the calendar page, the events are duplicated... Any1 encountered this issue?
Thanks

[2019-04-04 15:30] soaresdude commented on #194
@BrockReece I didn't mean to be rude, sorry.
Yeah, they weren't included using the src property.

[2019-04-08 12:30] deRaaf opened #197 "Drag Drop External Events in SFC"
Hi,

I'm trying to get draggable external events to work in a Vue SFC, as mentioned based on [this](https://codepen.io/BrockReece/pen/LOPwyK?editors=0010) codepen. I can drag the events, but I can't place them in the calendar. I have jQuery loaded via webpack so I don't think that is the problem, as it was in #117.

My code:

[code]

I would really appreciate if I could get some help with this.

[2019-04-09 09:43] Xalior commented on #172
This bug still exists in the final release of fullcal, and is in the base library itself outwith of the vue integrations it seems (I can reproduce it on the base library, exact same issues as @fullstackfool reports above)

[2019-04-09 23:38] arshaw opened #198 "Official FullCalendar Vue Connector"
Hey @BrockReece, this is Adam, the maintainer of [FullCalendar](https://fullcalendar.io).

I just wanted to let you know we released an official connector for Vue which we will continue to maintain for the indefinite future. It leverages fullcalendar v4, the version without jquery.

[**Blog post: Official React, Vue, and Angular Connectors**](https://fullcalendar.io/blog/2019/04/react-vue-and-angu

[2019-04-16 02:10] sunhuihuibuhui opened #199 "end date is the day before the selected date"
The version I'm using is "vue-full-calendar: ^2.7.0","vue-fullcalendar: ^1.0.9",
When I chose April 16th to 20th, the actual date was from 16th to 19th
I hope the selected end date is the same as the actual end date displayed
thank you~

[2019-04-18 17:18] kucukahmet opened #200 "[Question] How can i add Rrule plugin"
Hello there,
https://fullcalendar.io/docs/rrule-plugin
can I use the plugin on this page with the vue-full calendar?
Thanks :)

[2019-05-02 07:54] kossa opened #201 "Access to vue instance from eventSources"
Hello,

I want to retrieve events using axios, works fine, but I need to filter the events with a specific props, the problem is :

[code]

How to fix that ?

[2019-05-02 11:48] BrockReece commented on #201
I think this is a scoping issue. Try using an arrow function instead?
[code]

[2019-05-02 16:48] kossa commented on #201
Alright, thank you @BrockReece

[2019-05-02 16:48] #201 closed, assigned to nobody

[2019-05-08 10:26] jstr14 commented on #199
I have a similar error. When I display events on calendar end date displayed is one day less than end date.

Any solution?

[2019-05-09 04:01] sunhuihuibuhui commented on #199
no

[2019-05-09 07:38] BrockReece commented on #199
Is it setting the end date's time to 00:00:00 so it appears like it stops a day early?

[2019-05-09 08:25] jstr14 commented on #199
I'm not setting the end date's time. I create my event like this:

[code]

[2019-05-09 08:29] BrockReece commented on #199
What if you add the `allDay: true` property?

[2019-05-09 08:42] jstr14 commented on #199
With allDay property it has same behaviour.

Edit: I try to add date like: YYYY-MM-DDTHH:mm:ss and use allDay:false, using this method event is displayed correctly but name displayed on event is like: `00:00 Event name`

Is possible to avoid show hour on event displayed name?

[2019-05-09 11:25] BrockReece commented on #199
Have you checked the docs of fullcalendar?

[2019-05-09 14:04] jstr14 commented on #199
Yes I check it. After read event-object docs I solve it adding one day to events that end date is not same day of start date.

https://fullcalendar.io/docs/event-object

After read this I think my solution is the best way to display events that duration is more than one day

[2019-05-09 14:08] BrockReece commented on #199
Ah cool, thanks for doing the leg work on that.

[2019-05-09 14:08] #199 closed, assigned to nobody

[2019-05-13 17:00] ncbinh98 commented on #125
This works fine **but** the **performance** is the issue, every time I manipulate it will increase the buffer a lot, after 5 or 6 times CRUD events, my memory is up to 80% even 90% if I continue.

[2019-06-11 10:02] romil-officetroops opened #202 "Full Calendar Month View Issue"
Calendar is not showing 2 dates as selected if my end time is before 9AM.

For Ex: If start time is "2019-06-11 10:00:44" and end time is "2019-06-12 8:30:44" then in month view it marks only 11th not 12th. But it works fine in week view and day view.

I have tried with above dates on https://codesandbox.io/s/5xlp873rkl but there also it does not mark 12th.

events: [
    {
       title: 'test',

[2019-06-12 23:05] Adrek commented on #166
Please, add prop timeFormat. Currently this props doesn't work.

[2019-06-19 00:11] MiguelNepomuceno commented on #202
@romil-officetroops Have a look at this: https://fullcalendar.io/docs/nextDayThreshold

[2019-06-19 08:54] #202 closed, assigned to nobody

[2019-07-02 07:04] MiguelNepomuceno commented on #193
@ijunaid8989 what does `var events = this.$refs.calendar.fireMethod('clientEvents');` return for you? You also need to refer to the event source id, not the event id itself when using the `removeEventSources` method. To remove all events sources, you don't need to pass in the event id; just use:

`this.$refs.calendar.fireMethod('removeEventSources');`

[2019-07-02 07:18] ijunaid8989 commented on #193
I just removed this package and moved to FullCalendar as the new version doesn't use any jquery

[2019-07-02 07:18] #193 closed, assigned to nobody

[2019-07-15 19:55] daniapa opened #203 "Problem with a select and v-if in the fullcalendar component"
Hi,

I make a select with different option values.
Any value of the select has a different config options for the fullcalendar and different events to show.

My problems are:
- When I change through the select values events change but fullcalendar config not.
- When I change to the empty value of the select and then select a value option, then the config of the fullcalendar works but events duplic

[2019-07-24 07:23] ngooide opened #204 "event.end is null when drap fullDay event drop to agenda."
Hi all pro,
When I drag a created allDay event drop into agendaWeek / agendaDay, I notice there is no event.end date assign to it. If this is not a bug, how to get the time frame is assign to current event?

Thank you!

![image](https://user-images.githubusercontent.com/4960528/61773077-58019600-ae26-11e9-95b7-55d4dc235938.png)

[2019-07-24 08:11] BrockReece commented on #204
This feels like it would be more to do with the underlying behaviour of the fullcalendar lib, rather than this repo's plugin.

[2019-07-24 09:32] ngooide commented on #204
ok. noted.

[2019-07-24 09:32] #204 closed, assigned to nobody

[2019-07-25 10:09] ngooide commented on #204
I've done trick on this. Hope it help others.
event.end will add 2 hours into it when it drag from all-day to timeline.
[code]

[2019-07-25 16:36] vertiqcal opened #205 "Time Format"
"h(:mm)a" -> 6am, 6:30am
"h:mma" -> "6:00pm"
"h(:mm)a" -> "6pm" / "6:30pm"
"ha" / "H" -> "6pm" / "18"
"h:mm" -> "6:30" (with no AM/PM)
"H(:mm)' -> "0:00"/ "23:59" uppercase H for 24-hour clock

``
config:{
  ...
  timeFormat:
}
``

[Credit](https://www.outsystems.com/forums/discussion/35057/change-axis-time-format-am-pm-to-12-24-hours/)

[2019-07-25 16:37] #205 closed, assigned to nobody

[2019-07-26 08:53] vertiqcal opened #206 "eventResources doesn't work on calender scheduler"
Hi all,
Wonder how to pass event resource into it? This doesn't work.

`
<full-calendar ref="calendar"
                       :event-sources="eventSources"
`

`computed: {
         eventSources() {
                return [
                    {
                        events(start, end, timezone, callback) {
                            axios.get('/get-events').then(response => {

[2019-07-26 11:47] ngooide opened #207 "Title Undefined"
Does anyone know how to solve this problem?
Thank you.

![image](https://user-images.githubusercontent.com/4960528/61948915-bcb22180-afdb-11e9-86bb-b53df803027b.png)

[2019-07-30 08:27] BrockReece commented on #207
I think this is usually down to loading the fullcalendar library twice.

[2019-08-01 10:57] ngooide commented on #207
BrockReece,
Thanks for the reply.
Hmm... weird.. if the library loaded twice, I'm guess it will shows up on the resource... btw, what other chances that this will happen?

![image](https://user-images.githubusercontent.com/4960528/62287992-efea2a00-b48d-11e9-863a-e13a7ea8ddaa.png)

[2019-08-01 11:00] BrockReece commented on #207
It looks like you have jQuery loading twice?

[2019-08-01 11:05] ngooide commented on #207
No luck...
Even remove jquery.
![image](https://user-images.githubusercontent.com/4960528/62288570-4310ac80-b48f-11e9-9660-90751f388c3d.png)

[2019-08-01 11:21] ngooide commented on #207
[code]
copy exactly from [the example provided](https://codesandbox.io/s/vue-fullcalendar-scheduler-example-hl598)

![image](https://user-images.githubusercontent.com/4960528/62289500-7a805880-b491-11e9-9f02-37afbac5fb18.png)

[2019-08-01 11:30] BrockReece commented on #207
Have you seen this thread?
https://github.com/fullcalendar/fullcalendar/issues/3911#issuecomment-459455626

[2019-08-01 11:44] ngooide commented on #207
Yup seen this before. but it doesn't work for me. Hope my code is correct.
[code]

![image](https://user-images.githubusercontent.com/4960528/62290764-afda7580-b494-11e9-9929-6bb416888ed4.png)

[2019-08-01 11:54] ngooide commented on #207
Finally I got it right.
But I think this is not the right way of doing it.
Could anyone pls assist me on the right way of doing it?

![image](https://user-images.githubusercontent.com/4960528/62291198-e795ed00-b495-11e9-80f6-96a1f2f46fcd.png)

[2019-08-01 12:19] BrockReece commented on #207
If you have directly edited the node_modules dir, the changes will not be properly persisted.
My guess is that your versions of `vue-full-calendar` and `fullcalendar-scheduler` depend on different/incompatible versions of `fullcalendar` and thus is loading `fullcalendar` twice.

You can use commands like...
[code]
To list the different versions you have loaded in your project.
As an example, here

[2019-08-01 12:45] ngooide commented on #207
Yea you are right. These component r using different version of fullcalendar.
![image](https://user-images.githubusercontent.com/4960528/62293828-04352380-b49c-11e9-9866-6161c6f6dc05.png)

But the version reference
From vue-full-calendar@2.5.2 (fullcalendar@3.10.0) to vue-full-calendar@2.7.0 (fullcalendar@3.9.0)

It still show "undefined..." even there is only 1 version.

![image](https://user-ima

[2019-08-01 13:04] ngooide commented on #207
This is what I've tested & it works properly.
1. node_modules/vue-full-calendar,
[code]

2. my own file "vue-calendar.vue", I add in this
[code]

3. my own file "vue-scheduler.vue",
[code]
If I unmark "import 'fullcalendar'", "undefined" will appear.

[code]

[2019-10-17 11:07] gmw-web opened #208 "Change in class binding breaks rendering"
When a calendar has a class binding with for example `:class="{'disabled': !isActive}"`, and the `isActive` property changes, the changing class causes the rendering of the calendar to break.

See this codepen for a demo of the issue(click the button in the top left):
https://codesandbox.io/embed/fullcalendar-vue-1lktx

[2019-10-17 11:41] BrockReece commented on #208
Hmm, that is frustrating... I will try and have a look this afternoon.

[2019-10-17 21:04] BrockReece commented on #208
I'm guessing this is a conflict between Vue and Fullcalendar's jQuery dom manipulation.
Could you apply the class to a parent element?

[2019-10-21 06:34] gmw-web commented on #208
Luckily, I can (and I did) use that workaround. I posted because I thought you (and others) should know. Hopefully it's fixable. Thanks for looking into the issue!

[2019-10-21 07:47] BrockReece commented on #208
Ah ok, glad that solved it. Yeah I guess we could wrap the calendar target element with a parent to prevent this. Not sure whether it would break other's implementations though. One to think about going forward I think.

[2019-10-24 02:21] hiepdqflame opened #209 "add theme bootstrap"
How can i add theme bootstrap in vue-full-calendar?

[2019-10-25 02:02] #209 closed, assigned to nobody

[2019-11-04 08:08] langtuflame commented on #192
hello. Can you share me project example? I'm trying following you but i can't add theme bootstrap 4 in my project :(

[2019-11-11 07:19] liuliuboy opened #210 "IE11, npm run dev vue proect Error"
"vue-full-calendar": "^2.6.1",
"webpack": "^4.41.2",
 "webpack-bundle-analyzer": "^3.5.2",
 "webpack-cli": "^3.3.9",
 "webpack-dev-server": "^3.8.1",
 "webpack-merge": "^4.2.2"

**Error: Missing semicolon**

![图片](https://user-images.githubusercontent.com/22977943/68568413-7a332880-0496-11ea-99b9-509fb0212eb8.png)

![1111](https://user-images.githubusercontent.com/22977943/68568488-a9e23080-0496-1

[2019-11-11 08:49] BrockReece commented on #210
Do you use babel or any other transpiling tool?

[2019-11-11 09:56] liuliuboy commented on #210
Yes, there is use, after troubleshooting, it has been fixed, thanks for reply；
webpack.base.conf.js
   {
        test: /\.js$/,
        loader: 'babel-loader?cacheDirectory=true',
        include: [
          resolve('src'),
          resolve('test'),
          resolve('node_modules/vue-full-calendar/components')
        ]
      }

[2019-11-11 09:56] #210 closed, assigned to nobody

[2020-02-03 09:22] Animeshshrestha opened #212 "An example of using vue-calendar using Rrule"

[2020-05-18 09:45] lnts2015 opened #213 "how to use event-limit"
how to use event-limit

##  "vue-full-calendar": "^2.7.0",

[2020-05-29 05:47] SevymolSebastian opened #214 "fullCalendar is not working"
[Vue warn]: Error in mounted hook: "TypeError: cal.fullCalendar is not a function"

found in

---> <FullCalendar> at node_modules/vue-full-calendar/components/FullCalendar.vue

TypeError: cal.fullCalendar is not a function

version: 2.7.0

[2020-05-29 08:11] BrockReece commented on #214
Hmm, I'll look into it.

[2020-05-29 13:50] BielHaard commented on #214
Having the same problem here. Just installed the plugin following the doc but i got this error

[2020-05-30 05:59] melask opened #215 "Cannot read property 'footprint' of undefined"
Hello,

I am getting the error image's shown in an application I am developing with Electron
 using vue-fullcalendar.

![vue-calendar-footprint](https://user-images.githubusercontent.com/16836475/83320829-b8860e80-a253-11ea-8dec-7a8943b825ae.png)

I have updated my node modules to the latest versions including Electron (9). After that, this error occured.

[2020-05-30 19:43] BrockReece commented on #215
I've not tried to use this with an electron app before, was it ever working for you?

[2020-05-30 19:44] BrockReece commented on #214
@SevymolSebastian Has it ever worked for you?

[2020-05-31 15:49] BrockReece commented on #214
I have just tested with my demo repo and it appears to be working for me, can you confirm which version of fullcalendar you are using?

https://github.com/BrockReece/vue-fullcalendar-example

[2020-06-01 10:20] melask commented on #215
Yes. Until electron 7 was working perfect!

[2020-06-01 22:22] carlos00027 commented on #215
please help me

[2020-06-02 11:34] BrockReece commented on #215
Have you updated your version of `fullcalendar` at the same time?
In my demo repo, I am using version `3.9.0` and I don't have this issue.

[2020-06-02 12:50] developergbp1 commented on #215
I have the same problem, at some point the full calendar stopped working, I will try to use version 3.9.0 you mention to solve it

[2020-06-03 08:31] melask commented on #215
@BrockReece I have updated `fullcalendar` to version `3.9.0` and still th same issue. I will look further and inform you if I find anything which solves this.

[2020-06-03 18:32] Sandalf commented on #214
I also had this error, I think version 3.10.2 of fullcalendar, which was released a few days ago, may have introduced some breaking changes.

I fixed it by explicitly setting fullcalendar to version 3.10.1 in my package.json.

[2020-06-03 18:40] BrockReece commented on #214
@Sandalf thanks for this, I could update the dependencies to reflect this?

[2020-06-05 08:12] BrockReece commented on #214
I have released `vue-full-calendar@2.8.0` which explicitly sets `fullcalendar v3.10.1` as the dependency.

[2020-06-08 12:03] BenySLO commented on #215
Current version:
[code]
When dragining i get this error: **app.js:130181 Uncaught TypeError: Cannot read property 'footprint' of undefined**.
Well the calendar "works" but i cannot see visual, if anything is happening. Except if I go to next collumn.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/19827084/84027756-cba18880-a98f-11ea-8fef-57c1a2d40936.gif)

I also tryed to use

[2020-06-09 14:13] airliajsmith opened #216 "Component not registering."
I used the code provided in the file and get this warning:

 [Vue warn]: Unknown custom element: <fullcalendar> - did you register the component correctly? For recursive components, make sure to provide the "name" option.

I copied exactly, except for the view, which I don't see in the files provided. My view has   <FullCalendar></FullCalendar> included. Is that incorrect?

[2020-06-09 16:51] BrockReece commented on #216
Hi, Have you had a look at the demo repo?
https://github.com/BrockReece/vue-fullcalendar-example

[2020-06-09 17:14] airliajsmith commented on #216
Hi. I will take a look. Thanks!

[2020-06-10 11:22] BenySLO commented on #215
My fix, which is temporary at the moment:
"node-modules/vue-full-calendar/node_modules/dist/fullcalendar.js"
[code]
i added ` if (seg !== undefined) `, i just fixed it to prepare for a presentation.

Will propably implement official fullcalendar/fullcalendar-vue package when I have time.

[2020-06-15 19:55] eAvio commented on #215
Check jQuery version in your node_modules packages.

I noticed if jquery version is 3.5.1 then this package doesn't work anymore.
If I manually copy/revert jquery to version 3.4.1 it works fine.

I guess the fix would be to change fullcalendar depandancy from version 3.10.1 to 3.10.2 which adds support for jquery 3.5.1:
https://github.com/fullcalendar/fullcalendar/releases/tag/v3.10.2

[2020-06-16 13:59] BenySLO commented on #215
It works just add in your package.json: `"jquery": "3.4.1",` and `"vue-full-calendar": "^2.8.0",`. If you use ^ at jquery it updates to a new version and does not work anymore.

[2020-06-20 13:59] #200 closed, assigned to nobody

[2020-06-21 17:51] BrockReece commented on #215
@BenySLO I have released `vue-full-calendar@2.8.1-0` that fixes the `jquery` version to `3.4.1` as you suggested.

[2020-06-24 06:29] ghost opened #218 "Error in callback for watcher "events": "TypeError: jquery__WEBPACK_IMPORTED_MODULE_2___default(...)(...).fullCalendar is not a function #21"
Hi anyone encountered this? I am having issue with watcher inside of FullCalendar.vue, I dont know why this error is always showing up. Thank you!

![image](https://user-images.githubusercontent.com/29676419/85508643-11fd1580-b627-11ea-8dde-b4f1e6772a0d.png)

[2020-06-24 08:27] BrockReece commented on #218
Which version of `vue-full-calendar` are you using?

[2020-06-25 01:03] ghost commented on #218
Hi @BrockReece, version 2.7.0

[2020-06-28 07:41] BrockReece commented on #218
Can you try upgrading to `vue-full-calendar@2.8.1-0`, I think there has been some breaking changes in some of the dependencies, this new version fixes the dependency versions.

[2020-06-29 07:52] JxSdGH opened #219 "Error in mounted hook: "TypeError: cal.fullCalendar is not a function""
![image](https://user-images.githubusercontent.com/47267771/85987615-6d147b00-ba20-11ea-9f79-dd1d6bd55cff.png)

[2020-06-29 11:04] BrockReece commented on #219
Hi, we have seen this error in some other recently opened issues.
Can you try upgrading to `vue-full-calendar@2.8.1-0` and see if that fixes things.

[2020-06-29 11:23] JxSdGH commented on #219
That's what I'm using

[2020-06-29 11:25] BrockReece commented on #219
Hmm ok... let me test it again in my demo repo.

[2020-06-29 11:26] JxSdGH commented on #219
haha  ok

[2020-06-29 11:32] BrockReece commented on #219
I have just updated my demo repo to the latest version and it is working.
https://github.com/BrockReece/vue-fullcalendar-example
Which versions of jQuery and fullcalendar are you using?

[2020-06-29 11:36] JxSdGH commented on #219
3.4.1

[2020-06-29 11:37] JxSdGH commented on #219
3.4.1 and 2.8.1

[2020-06-29 13:14] BrockReece commented on #219
The example repo is using `fullcalendar@3.10.1` and `jquery@3.4.1`

[2020-06-30 01:54] JxSdGH commented on #219
I got it wrong. It's the version you sent

[2020-07-03 05:23] agnij opened #220 "Invalid after ‘daynames’ property is set"
After setting daynames:  ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'], the page still displays the default daynames of the locale:' zh CN '

[2020-07-03 08:31] BrockReece commented on #220
How are you attempting to set the daynames?

[2020-07-03 10:01] JxSdGH commented on #219
I found the reason, because I also introduced JQ

[2020-07-03 10:13] JxSdGH commented on #219
As long as the project introduces jquery@3.4.1 You'll throw the error

[2020-07-03 10:13] JxSdGH commented on #219
I hope you can fix it

[2020-07-11 20:54] krasnovmv opened #221 "Difference in package dependencies"
Node v14.5.0
Yarn v.1.22.4

When i update package to 2.8.1-0 version, structure of node_modules directory changed
Before:
node_modules
	vue-full-calendar
	fullcalendar

After:
node_modules
	vue-full-calendar
		node_modules
			fullcalendar

So, previous code with direct import of fullcalendar package will be incorrect.
I think, need to pay attention

[2020-07-13 02:42] #220 closed, assigned to nobody

[2020-07-13 02:43] agnij commented on #220
I've done it. Thank you

[2020-07-13 11:03] BrockReece commented on #221
The latest releases have been to fix versions of the `fullcalendar` and `jquery` dependencies as it seems like that the latest version of these packages have broken this package.

[2020-07-16 20:04] vincio77 commented on #219
Hi guys, in my project I encountered the same problem as @JxSdGH and despite having followed @BrockReece's indications I still had the problem. After playing around with the package file through npm I found a temporary workaround for my problem.
I hope it will serve while waiting for the official fix.

I am attaching the sections of the package.json:

  "devDependencies": {
    "axios": "^0.18.1",

[2020-08-05 11:18] MrWeb commented on #215
To anybody coming to this page, this is what solved my issue of `Cannot read property 'footprint' of undefined`

[2020-08-13 09:14] Herz3h commented on #172
Same issue here, just upgraded to fullCalendar 5, I'm using @fullcalendar/moment plugin to format dates. When I switch from dayGridMonth to dayGridWeek, this errors shows up:

[code]

After inspection cmdFormatter has a `null` value.

[2020-09-02 05:57] edsel77 commented on #219
I've got the same error on the latest version

"jquery": "^3.5.1"
"vue-full-calendar": "^2.8.0"

[2020-09-02 06:02] edsel77 opened #223 "Event not responding the correct way, it stacks on the second day"
I have the latest version of the library
"vue-full-calendar": "^2.8.0"

Events were placed on the wrong dates

    events: [
        {
          title: 'event1',
          start: '2020-09-02',
          allDay: true
        },
        {
          title: 'event2',
          start: '2020-09-03',
          allDay: true
        },
        {
          title: 'event3',
          start: '2020-09-05',

[2020-09-05 17:13] melask commented on #215
In my package.json:  `"vue-full-calendar": "^2.8.1-0"`  and everything works perfect now. Thank you all !

My versions:

- vue-cli: 4.54
- electron: 10.1.1
- ue-cli-plugin-electron-builder: 2.0.0-rc.4

p.s: have tested it also with electron 7 and 9

[2020-09-07 07:28] #215 closed, assigned to nobody

[2020-09-10 12:05] eAvio opened #224 "Can i click on time labels."
Can somone help me. Is there an click event i can use to click on those labels?

![image](https://user-images.githubusercontent.com/61407700/92726228-93825b00-f36d-11ea-8c91-a6e31dfcb39e.png)

(This issue is a question,)

[2020-09-10 12:49] BrockReece commented on #224
I don't know off the top of my head, but here are the docs for the version of fullcalendar that this uses.
https://fullcalendar.io/docs/v3#toc

[2020-09-14 06:42] eAvio commented on #224
@BrockReece thank you for that, I could not find anything useful, for now im using vanilla JS, if anyone has a better solution feel free to comment, in case anyone will need the code ill add it here.

[code]

[2020-09-14 06:42] #224 closed, assigned to nobody

[2020-09-23 11:13] RahatChoudhary commented on #103
@lucaspatel hello
I am facing same issue which you mentioned above. Please share example how you import gcal.js ?

[2020-10-02 12:19] #197 closed, assigned to nobody

[2020-10-21 15:56] dansoppelsa commented on #219
@vincio77 I could kiss you. Manually forcing the fullcalendar 3.10.2 dependancy fixed the issue!

[2020-10-28 21:48] jacobwiley commented on #218
I'm experiencing a similar error.

![Screen Shot 2020-10-28 at 4 48 00 PM](https://user-images.githubusercontent.com/8050802/97500314-5e41c480-193d-11eb-898d-9d1d58580655.png)

[2021-01-12 13:03] vmeimar commented on #219
@vincio77 Worked for me

[2021-02-05 07:20] Nandishju commented on #122
Still, it is not working for me.
Followed same, but not working
Please help me

[2021-02-05 19:50] kristofgilicze commented on #198
Thank you!

**@jscrobinson please consider archiving the repo or at least updating the readme with a this info.**

_It would be great to avoid the hassle of downloading the project and then realizing that there is first party support for the up-to date version of Full calendar._

[2021-02-10 15:04] shadiaowangyou commented on #223
yarn add vue-full-calendar@2.7.0